.settings-wraper {
  max-width: toRem(760);
  margin: 0 auto;
}

.previousBtn {
  @include d-center;
  gap: toRem(8);
  width: toRem(149);
  height: toRem(40);
  border: toRem(1) solid #c4c4c4;
  border-radius: toRem(5);
  background-color: #fff;
  @include fontFamily(14, $fw_SemiBold, 22, #101010 !important);
}

.eNav-Tabs-custom {
  border-bottom: none;
  margin-bottom: toRem(20);
  flex-wrap: nowrap;
  overflow-x: scroll;
  gap: toRem(37);
  position: relative;
  background-color: #fff;
  border: toRem(1) solid #dedede;
  border-radius: toRem(5);
  @include boxShadow(0, 10, 20, rgb(0 0 0 / 5%));
  padding: toRem(0) toRem(20);
  &::-webkit-scrollbar {
    display: none;
  }
  button.nav-link {
    @include fontFamily(16, $fw_SemiBold, 22, #101010);
    padding-left: 0;
    padding-right: 0;
    padding: toRem(18) 0;
    position: relative;
    z-index: 1;
    transition: all 0.3s;
    &.active,
    &:hover {
      color: #101010;
      border-color: transparent;
      background: transparent !important;
      span {
        width: 100%;
        z-index: 1;
        background-color: $purple;
      }
    }
    span {
      display: inline-block;
      width: 0%;
      height: toRem(3);
      border-radius: toRem(3);
      position: absolute;
      top: -1px;
      left: 0;
      background-color: $purple;
      z-index: 1;
      transition: all 0.3s;
    }
  }
}
.eNav-Tabs-custom {
  border-radius: 0;
  &.myPage-tabs {
    gap: toRem(25);
  }
  &.eNav-Tabs-customer {
    @include boxShadow(0, 0, 0, rgb(0 0 0 / 0%));
    border: none;
    padding: 0;
    background-color: transparent;
    justify-content: space-between;
    margin-bottom: 0;
    button.nav-link {
      border-radius: 0 !important;
      span {
        top: auto;
        bottom: 0;
      }
    }
  }
}

.btn {
  &-cancel,
  &-save {
    flex: 0 0 toRem(339);
    @include d-center;
    width: 100%;
    padding: toRem(15) toRem(15) toRem(14);
    border-radius: toRem(10);
    @include fontFamily(16, $fw_SemiBold, 22, #101010 !important);
  }
  &-upload,
  &-delete {
    @include d-center;
    padding: toRem(12) toRem(20) toRem(11);
    border-radius: toRem(5);
    @include fontFamily(15, $fw_SemiBold, 20, #101010 !important);
  }
  &-cancel,
  &-delete {
    background-color: #f3f3f3;
  }
  &-save,
  &-upload {
    background-color: $purple;
    color: #fff !important;
  }
  &-beCreator {
    display: inline-block;
    padding: toRem(10) toRem(20) toRem(11);
    border-radius: toRem(5);
    background-color: $purple;
    @include fontFamily(14, $fw_SemiBold, 22, #fff !important);
  }
}

// Profile
.p-photo-left {
  max-width: toRem(222);
}
.userPhoto {
  width: toRem(80);
  height: toRem(80);
  border-radius: 50%;
  overflow: hidden;
}
.coverPhoto {
  max-width: toRem(409);
  height: toRem(130);
  border-radius: toRem(5);
  overflow: hidden;
}

.switchList {
  .switchList-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: toRem(1) solid #dedede;
    padding-top: toRem(20);
    &:first-child {
      border-top: none;
      padding-top: 0;
    }
    label {
      @include fontFamily(16, $fw_Regular, 21, #636363);
    }
  }
}

.form-switch {
  input.form-check-input {
    width: toRem(47);
    height: toRem(24);
    margin-top: 0.35em;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    background-color: #dfd9f6 !important;
    border: 0px solid #cacfd4;
    border-radius: toRem(12);
    background-color: #fff;
    &:checked {
      background-color: $purple !important;
    }
  }
}
